{# Subject - You have <number of new events> new and <number of updated events> updated conjunction event(s)

Variables in this template
application_url - MSH url
new_conjunction_events - list of new conjunction events
updated_conjunction_events - list of updated conjunction events
#}

{% extends "base.jinja" %}

{% block title %}
  <h1 style="font-size:16px;color:rgb(255,255,255);line-height:24px;margin-top:10px;font-family:Calibri, Arial, sans-serif">New and updated conjunction event(s)</h1>
{% endblock %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="background-color:rgb(38,92,89);padding:8px;margin:0">
              <tbody>
                <tr>
                  <td>
                    <h1 style="margin:0;text-align:center;font-size:16px;color:rgb(255,255,255);font-family:Calibri, Arial, sans-serif">Summary</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding:8px;border-width:1px;border-style:solid;border-color:rgb(38,92,89);border-spacing:0;border-collapse:collapse;">
              <tbody>
                <tr>
                  <td style="border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px">
                    <p style="margin:0 0 16px 0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif">
                       The UK Space Agency’s Monitor Space Hazards service has identified new conjunction events involving your satellites and crossing your thresholds. Additionally, one or more conjunction events crossing your thresholds has been updated. The links to the events and their time of closest approach are listed below.
                    </p> 
                    <p style="margin:0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif"><b>New event(s)</b></p>
                    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-width:1px;border-style:solid;border-color:rgb(38,92,89);table-layout:fixed;word-wrap:break-word;font-size:14px;text-align:center;border-collapse:collapse;border-spacing:0">
                      <thead>
                        <tr style="width:100%;">
                          <th scope="col" style="width:50%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px;font-family:Calibri, Arial, sans-serif">Objects</th>
                          <th scope="col" style="width:50%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px;font-family:Calibri, Arial, sans-serif">Time of Closest Approach (UTC)</th>
                          <th scope="col" style="width:50%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px;font-family:Calibri, Arial, sans-serif">Space-Track Probability of Collisions (%)</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for event in new_conjunction_events|sort(attribute='tca_time') %}
                          <tr>
                            <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px;font-family:Calibri, Arial, sans-serif"><a href="{{ application_url }}/conjunctions/{{ event.short_id }}" target="_blank">{{ event.primary_object_common_name }} vs {{ event.secondary_object_common_name }}</a></td>
                            <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px;font-family:Calibri, Arial, sans-serif">{{ event.tca_time.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                             <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px;font-family:Calibri, Arial, sans-serif">{{'%0.2f' % (100*event.collisionProbability)|float }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <p style="margin:16px 0 0 0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif"><b>Updated event(s)</b></p>
                    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-width:1px;border-style:solid;border-color:rgb(38,92,89);table-layout:fixed;word-wrap:break-word;font-size:14px;text-align:center;border-collapse:collapse;border-spacing:0">
                      <thead>
                        <tr style="width:100%;">
                          <th scope="col" style="width:50%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px;font-family:Calibri, Arial, sans-serif">Objects</th>
                          <th scope="col" style="width:50%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px;font-family:Calibri, Arial, sans-serif">Time of Closest Approach (UTC)</th>
                          <th scope="col" style="width:50%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px;font-family:Calibri, Arial, sans-serif">Space-Track Probability of Collisions (%)</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for event in updated_conjunction_events|sort(attribute='tca_time') %}
                          <tr>
                            <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px;font-family:Calibri, Arial, sans-serif"><a href="{{ application_url }}/conjunctions/{{ event.short_id }}" target="_blank">{{ event.primary_object_common_name }} vs {{ event.secondary_object_common_name }}</a></td>
                            <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px;font-family:Calibri, Arial, sans-serif">{{ event.tca_time.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                            <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px;font-family:Calibri, Arial, sans-serif">{{'%0.2f' % (100*event.collisionProbability)|float }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>


                    <p style="margin:16px 0;font-size:14px;line-height:24px">
                      </p>
                      
                    <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">
                      Sign in to 
                      <a href="{{ application_url }}/conjunctions/">Monitor Space Hazards</a> for <b>additional analysis and information regarding these events.</b>
                      You may also adjust your notification threshold settings using this service.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

{% endblock %}
