{# subject - Low-risk conjunction alert: <primary object common name> vs. <secondary object common name>

variables used in this template
conjunction_event_report
conjunction_event
application_url - MSH url
#}

{% extends "base.jinja" %}

{% set risk = conjunction_event_report.risk %}
{% if risk == "Low" %}
    {% set risk_background_color = "#D4E7D0" %}
{% elif risk == "Medium" %}
    {% set risk_background_color = "#FFF0C8" %}
{% else %}
    {% set risk_background_color = "#F1C6C6" %}
{% endif %}

{% block title %}

  <h1 style="font-size:16px;color:rgb(255,255,255);line-height:24px;margin-top:10px;">{{ risk }}-Risk Conjunction Alert 
    {% if conjunction_event_report.report_number > 1 %}
      - Updated
    {% endif %}
    <br/>{{ conjunction_event_report.primary_object_common_name }} vs. {{ conjunction_event_report.secondary_object_common_name }}</h1>

{% endblock %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;width:100%;text-align:center;">
      <tbody>
        <tr>
          <div align="center"> <!-- wrapper div to center align contents-->
          <td align="center">
            <table align="center" border="0" cellPadding="0" cellSpacing="0" style="width:37.5em;text-align:left;">
              <tbody>
                <tr>
                  <td>
                    <p style="margin:0;font-size:14px;line-height:24px">Sign in to <a href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
                      <!-- -->
                      <b>full report for this event.</b>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          </div>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;width:100%;"><!-- setting width with styling to fix gmail issue -->
      <tbody>
        <tr style="width:100%">
          <div align="center"> <!-- wrapper div to align to center-->

          <td align="center">
            <table align="center" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="margin:0;border-collapse:collapse;width:37.5em">
              <tbody>
                <tr>
                  <td>
                    <table style="width:100%;border-collapse:collapse">
                      <tr style="width:100%">
                        <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                          <h4 style="text-align:left;font-size:14px;margin:0">Report number</h4>
                        </td>
                        <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;"">
                          {{ conjunction_event_report.report_number }}
                        </td>
                      </tr>

                      <tr style="width:100%">
                        <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                          <h4 style="text-align:left;font-size:14px;margin:0">Risk assessment</h4>
                        </td>
                        <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;background-color:{{ risk_background_color }}">
                          {{ risk }}
                        </td>
                      </tr>
                      <tr style="width:100%">
                        <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                          <h4 style="text-align:left;font-size:14px;margin:0">Time of closest approach (UTC)</h4>
                        </td>
                        <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px">{{ conjunction_event_report.tca_time }}</td>
                      </tr>
                      <tr style="width:100%">
                        <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                          <h4 style="text-align:left;font-size:14px;margin:0">Probability of collision</h4>
                        </td>
                        <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px">{{ '%0.2f' % (100*conjunction_event_report.collision_probability)|float }}%</td>
                      </tr>
                      <tr style="width:100%">
                        <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                          <h4 style="text-align:left;font-size:14px;margin:0">Manoeuvre expected?</h4>
                        </td>
                        <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px">{{ conjunction_event_report.manoeuvre_expected }}</td>
                      </tr>
                      <tr style="width:100%">
                        <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                          <h4 style="text-align:left;font-size:14px;margin:0">Primary object</h4>
                        </td>
                        <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px">	{{ conjunction_event_report.primary_object_common_name }}</td>
                      </tr>
                      <tr style="width:100%">
                        <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                          <h4 style="text-align:left;font-size:14px;margin:0">Secondary object</h4>
                        </td>
                        <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px">{{ conjunction_event_report.secondary_object_common_name }}</td>
                      </tr>
                    </table>
                  </td>
                  </div>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="background-color:rgb(38,92,89);padding:8px;margin:0">
              <tbody>
                <tr>
                  <td>
                    <h1 style="margin:0;text-align:center;font-size:16px;color:rgb(255,255,255)">Summary</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-spacing:0;border-collapse:collapse;border-width:1px;border-style:solid;border-color:rgb(38,92,89);">
              <tbody>
                <tr>
                  <td style="padding:8px;border-width:1px;border-style:solid;border-color:rgb(38,92,89)">
                    {% if conjunction_event_report.report_number > 1 %}
                      <p style="margin:0;font-size:14px;line-height:24px">
                        The UK Space Agency has identified an update to the conjunction event 
                        <a href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">{{conjunction_event_report.short_id}}</a>, which is now classified as {{risk}} risk. A potential collision could damage the objects involved, limiting or eliminating their capability, as well as releasing new fragments, which would increase the risk of future collisions for other objects.
                      </p>
                    {% else %}
                      <p style="margin:0;font-size:14px;line-height:24px">
                        The UK Space Agency is monitoring the conjunction event 
                        <a href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">{{conjunction_event_report.short_id}}</a>, which is classified as {{risk}} risk. A potential collision could damage the objects involved, limiting or eliminating their capability, as well as releasing new fragments, which would increase the risk of future collisions for other objects.
                      </p>
                    {% endif %}
                    {% if conjunction_event.exec_summary_addition %}
                      <p style="margin:16px 0;font-size:14px;line-height:24px">
                        {{ conjunction_event.exec_summary_addition }}
                      </p>
                    {% endif %}
                    <p style="margin:16px 0;font-size:14px;line-height:24px">
                      Risk levels are determined by the probability of collision and the number of future conjunction events that would be generated by a collision (according to statistical modelling).
                    </p>

                    <p style="font-size:14px;line-height:24px;margin:16px 0"><b>Recommended
                            actions</b><br>
                      The UK Space Agency are the leads for conjunction reporting.

                      {% if conjunction_event.uk_response_addition %}
                       <br>
                       {{ conjunction_event.uk_response_addition }} 
                      {% endif %}
                    </p> 
                    <p style="font-size:14px;line-height:24px;margin:16px 0">
                      The relevant UK response organisations have received an alert for this event.
                    </p>
                                    <p style="font-size:14px;line-height:24px;margin:16px 0">
                                        
                                            Sign in to <a href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert"
                                                target="_blank">Monitor Space Hazards</a> <!-- -->for the <b>
                                          full report for this event.</b>
                                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

{% endblock %}

{% block additional_info %}

  <p style="margin:0;font-size:14px;line-height:24px">
    <b>Press and Public Lines</b><br />
    {% if conjunction_event.press_attention_addition %}
      {{ conjunction_event.press_attention_addition }}
    {% else %}
      Sign in to <a href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">Monitor Space Hazards</a> for press and public lines (opens Monitor Space Hazards)
    {% endif %}
  </p>
  <br>

  {{ super() }}  {# this includes the rest of the default footer in base.jinja #}

{% endblock %}
