{# subject - New ephemeris data uploaded

variables to be passed to this page
application_url - MSH url
satellite_common_name
satellite_norad_id
#}

{% extends "base-notification.jinja" %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <h1 style="font-size:16px;line-height:24px;margin:0px">Satellite {{ satellite_common_name }} : New ephemeris data uploaded</h1>
            <hr height="1" style="height:1px;border:0 none;color:rgb(0,110,187);background-color:rgb(0,110,187);">
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:16px">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px">A satellite operator has uploaded ephemeris data for satellite <a style="color:rgb(0,110,187)" href="{{ application_url }}/satellites/{{ satellite_norad_id }}">{{ satellite_common_name }}</a> (NORAD ID: {{ satellite_norad_id }}).</p>
                    <p style="font-size:14px;line-height:20px;margin:0px">Sign in to <a style="color:rgb(0,110,187)" href="{{ application_url }}/satellites/{{ satellite_norad_id }}">Monitor Space Hazards</a> to view this ephemeris data.</p>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  {% endblock %}