{# subject - UK Space Agency analysis uploaded to <number of events> event(s)

variables to be passed to this page
application_url - MSH url
conjunction_events - events involving user's satellites with new UKSA analysis
#}


{% extends "base-notification.jinja" %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-top:0.5rem;padding-bottom:0.5rem;max-width:37.5em">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:0.25rem;padding-bottom:0.25rem;border-color:rgb(0,110,187);border-style:solid;border-bottom-width:1px">
              <tbody>
                <tr>
                  <td>
                    <h1 style="font-size:1rem;line-height:1.5rem;margin:0px">New Analysis Uploaded</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:1rem">
              <tbody>
                <tr>
                  <td>
                  <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;margin-bottom:1rem">The National Space Operations Centre has uploaded new analysis for the following conjunction events involving your satellites. For full information on each event please visit Monitor Space Hazards via the event link.</p>
                    <table
                      style="width:100%;text-align:left;font-size:0.875rem;line-height:1.25rem;border-collapse:collapse">
                      <tr>
                        <th style="width:33.333333%;padding:0.5rem" align="center">Primary and Secondary Object</th>
                        <th style="width:33.333333%;padding:0.5rem" align="center">Time of Closest Approach (UTC)</th>
                        <th style="width:33.333333%;padding:0.5rem" align="center">Probability of Collision</th>
                      </tr>
                      {% for event in conjunction_events %}
                          <tr style="width:100%;{% if loop.index0 is even %}background-color:rgb(240,240,240){% endif %}">
                            <td style="width:33.333333%;padding:0.5rem" align="center"><a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions/{{ event.short_id }}" target="_blank">{{ event.primary_object_common_name }} vs {{ event.secondary_object_common_name }}</a></td>
                            <td style="width:33.333333%;padding:0.5rem" align="center">{{ event.tca_time.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                            <td style="width:33.333333%;padding:0.5rem" align="center">{{ 'Unknown' if event.collision_probability is none else '{:.4e}'.format(100 * event.collision_probability).replace('e-0', 'e-') }}</td>
                          </tr>
                      {% endfor %}
                    </table>
                    <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;margin-top:1rem">Sign in to <a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions">Monitor Space Hazards</a> to view analysis and additional information.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}
