{# subject - Low-risk conjunction alert: <primary object common name> vs. <secondary object common name>

variables used in this template
conjunction_event_report
conjunction_event
application_url - MSH url
#}

{% extends "base.jinja" %}

{% set risk = conjunction_event_report.risk %}
{% if risk == "Low" %}
  {% set risk_background_color = "#cce2d8" %}
  {% set risk_text_color = "#005930" %}
  
{% elif risk == "Medium" %}
  {% set risk_background_color = "#ffe0a3" %}
  {% set risk_text_color = "#594d00" %}
{% else %}
  {% set risk_background_color = "#f4ccca" %}
  {% set risk_text_color = "#2a1a0e" %}
{% endif %}

{% set primary_object_common_name = conjunction_event_report.primary_object_common_name if conjunction_event_report.primary_object_common_name else "Unknown" %}
{% set primary_object_norad_id = conjunction_event_report.primary_object_norad_id if conjunction_event_report.primary_object_norad_id else "Unknown" %}
{% set secondary_object_common_name = conjunction_event_report.secondary_object_common_name if conjunction_event_report.secondary_object_common_name else "Unknown" %}
{% set secondary_object_norad_id = conjunction_event_report.secondary_object_norad_id if conjunction_event_report.secondary_object_norad_id else "Unknown" %}

{% block title %}
  {{ risk }} Risk Conjunction Alert 
  {% if conjunction_event_report.report_number > 1 %}
    - Updated
  {% endif %}
{% endblock %}  

{% block subtitle %}
  {{ primary_object_common_name }} vs. {{ secondary_object_common_name }}
{% endblock %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px;">The UK Space Agency is monitoring the conjunction event <a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">{{ primary_object_common_name }} vs. {{ secondary_object_common_name }}</a>, which is classified as {{ risk }} risk. A potential collision could damage the objects involved, limiting or eliminating their capability, as well as releasing new fragments, which would increase the risk of future collisions for other objects.</p>
            <h1 style="font-size:16px;line-height:24px;margin:0px">Summary</h1>
            <hr height="1" style="height:1px;border:0 none;color:rgb(0,110,187);background-color:rgb(0,110,187);">
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:16px">
              <tbody>
                <tr>
                  <td>
                    <table
                      style="width:100%;text-align:left;font-size:14px;line-height:20px;border-collapse:collapse">
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Risk Assessment</th>
                        <td align="center"
                          style="width:66.666667%;padding:8px;background-color:{{ risk_background_color }};font-weight:700;color:{{ risk_text_color }}">{{ risk }}
                        </td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Time of Closest Approach (UTC)</th>
                        <td style="width:66.666667%;padding:8px">{{ conjunction_event_report.tca_time if conjunction_event_report.tca_time.strftime('%d/%m/%Y %H:%M:%S') else "Unknown" }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Probability of Collision</th>
                        <td style="width:66.666667%;padding:8px">{{ 'Unknown' if conjunction_event_report.collision_probability is none or conjunction_event_report.collision_probability == 0 else '{:.3f}%'.format(100 * conjunction_event_report.collision_probability) }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Manoeuvre Expected?</th>
                        <td style="width:66.666667%;padding:8px">{{ conjunction_event_report.manoeuvre_expected }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Primary Object</th>
                        <td style="width:66.666667%;padding:8px">{{ primary_object_common_name }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Primary NORAD ID</th>
                        <td style="width:66.666667%;padding:8px">{{ primary_object_norad_id }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Primary Object Launching State</th>
                        <td style="width:66.666667%;padding:8px">{{ conjunction_event_report.primary_object_licensing_country if conjunction_event_report.primary_object_licensing_country|to_full_country_name else "Unknown" }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Secondary Object</th>
                        <td style="width:66.666667%;padding:8px">{{ secondary_object_common_name }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Secondary NORAD ID</th>
                        <td style="width:66.666667%;padding:8px">{{ secondary_object_norad_id }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Secondary Object Launching State</th>
                        <td style="width:66.666667%;padding:8px">{{ conjunction_event_report.secondary_object_licensing_country if conjunction_event_report.secondary_object_licensing_country|to_full_country_name else "Unknown" }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Report Number</th>
                        <td style="width:66.666667%;padding:8px">{{ conjunction_event_report.report_number if conjunction_event_report.report_number else "Unknown" }}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
      style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <h1 style="font-size:16px;line-height:24px;margin:0px">Additional Information</h1>
            <hr height="1" style="height:1px;border:0 none;color:rgb(0,110,187);background-color:rgb(0,110,187);">
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:16px">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px">
                      <b>Recommended actions</b><br>
                      The UK Space Agency are the leads for conjunction reporting.
                      {% if conjunction_event.uk_response_addition %}
                       <br>
                       {{ conjunction_event.uk_response_addition }} 
                      {% endif %}
                    </p>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px">
                      <b>Press and Public Lines</b><br>
                      {% if conjunction_event.press_attention_addition %}
                        {{ conjunction_event.press_attention_addition }}
                      {% else %}
                        We have not seen any press attention on this event.
                      {% endif %}
                    </p>
                    <p style="font-size:14px;line-height:20px;margin:0px;f">Sign in to <a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
                      <!-- -->
                      <b>full report for this event.</b>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}
