{# Subject - You have <number of events> new conjunction event(s)

variables used in this template
conjunction_events - list of conjunction events
application_url - MSH url
#}

{% extends "base-notification.jinja" %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <h1 style="font-size:16px;line-height:24px;margin:0px">New conjunction event(s)</h1>
            <hr height="1" style="height:1px;border:0 none;color:rgb(0,110,187);background-color:rgb(0,110,187);">
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:16px">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px">The UK Space Agency's Monitor Space Hazards service has identified new conjunction events involving your satellites and crossing your thresholds. The links to the events and their time of closest approach are listed below.</p>
                    <table
                      style="width:100%;text-align:left;font-size:14px;line-height:20px;border-collapse:collapse">
                      <tr>
                        <th style="width:33.333333%;padding:8px" align="center">Primary and Secondary Object</th>
                        <th style="width:33.333333%;padding:8px" align="center">Time of Closest Approach (UTC)</th>
                        <th style="width:33.333333%;padding:8px" align="center">Probability of Collision</th>
                      </tr>
                      {% for event in conjunction_events|sort(attribute='tca_time') %}
                          <tr style="width:100%;{% if loop.index0 is even %}background-color:rgb(240,240,240){% endif %}">
                            <td style="width:33.333333%;padding:8px" align="center"><a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions/{{ event.short_id }}" target="_blank">{{ event.primary_object_common_name }} vs {{ event.secondary_object_common_name }}</a></td>
                            <td style="width:33.333333%;padding:8px" align="center">{{ event.tca_time.strftime('%d/%m/%Y %H:%M:%S') }}</td>
                            <td style="width:33.333333%;padding:8px" align="center">{{ 'Unknown' if event.collision_probability is none else '0' if event.collision_probability == 0 else '{:.4e}'.format(event.collision_probability).replace('e-0', 'e-') }}</td>
                          </tr>
                      {% endfor %}
                    </table>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-top:16px">Sign in to <a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions">Monitor Space Hazards</a> to view
                      analysis and additional information.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}
