{# subject - Event passed for <primary object common name> vs. <secondary object common name>

variables used in this template
conjunction_event_report
application_url - monitor space hazards url
fragmentation_bool - true if a fragmentation occured
fragmentation_text - optional text describing fragmentation event
no_fragmentation_text - optional text stating that a fragmentation didn't take place
 #} 

{% extends "base.jinja" %}

{% set primary_object_common_name = conjunction_event_report.primary_object_common_name if conjunction_event_report.primary_object_common_name else "Unknown" %}
{% set secondary_object_common_name = conjunction_event_report.secondary_object_common_name if conjunction_event_report.secondary_object_common_name else "Unknown" %}

{% block title %}
  Conjunction Close Down Alert
{% endblock %}

{% block subtitle %}
  {{ primary_object_common_name }} vs. {{ secondary_object_common_name }}
{% endblock %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-top:0.5rem;padding-bottom:0.5rem;max-width:37.5em">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:0.25rem;padding-bottom:0.25rem;border-color:rgb(0,110,187);border-style:solid;border-bottom-width:1px">
              <tbody>
                <tr>
                  <td>
                    <h1 style="font-size:1rem;line-height:1.5rem;margin:0px">Summary</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:1rem">
              <tbody>
                <tr>
                  <td>
                    <table
                      style="width:100%;text-align:left;font-size:0.875rem;line-height:1.25rem;border-collapse:collapse">
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:0.5rem">Event Time (UTC)</th>
                        <td style="width:66.666667%;padding:0.5rem">{{ conjunction_event_report.tca_time.strftime('%d/%m/%Y %H:%M:%S')  }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:0.5rem">Primary Object</th>
                        <td style="width:66.666667%;padding:0.5rem">{{ primary_object_common_name }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:0.5rem">Secondary Object</th>
                        <td style="width:66.666667%;padding:0.5rem">{{ secondary_object_common_name }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:0.5rem">Manoeuvred?</th>
                        <td style="width:66.666667%;padding:0.5rem">{{ conjunction_event_report.manoeuvre_expected }}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
      style="padding-top:0.5rem;padding-bottom:0.5rem;max-width:37.5em">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:0.25rem;padding-bottom:0.25rem;border-color:rgb(0,110,187);border-style:solid;border-bottom-width:1px">
              <tbody>
                <tr>
                  <td>
                    <h1 style="font-size:1rem;line-height:1.5rem;margin:0px">Additional Information</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:1rem">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;margin-bottom:1rem"><b>Event Information:</b><br />
                      The Conjunction event <a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">{{ conjunction_event_report.short_id }}</a> has now passed.<br /><br />
                      The UK Space Agency has completed tracking of the close approach between <b>{{ primary_object_common_name }}</b> and <b>{{ secondary_object_common_name }}</b>, which occurred on {{ conjunction_event_report.tca_time.strftime('%d/%m/%Y %H:%M:%S') }}. The event was assessed as <b>{{ conjunction_event_report.risk }}</b> risk, with a probability of collision (PoC) of <b>{{ '%0.3f' % (100*conjunction_event_report.collision_probability)|float }}%</b>.
                    </p>
                    <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;margin-bottom:1rem">
                      <b>Press and Public Lines</b><br />
                      {% if conjunction_event_report.press_attention %}
                        {{ conjunction_event_report.press_attention }}
                      {% else %}
                        We have not seen any press attention on this event.
                      {% endif %}
                    </p>
                    <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;f">Sign in to <a style="color:rgb(0,110,187)" href="{{ application_url }}/conjunctions/{{ conjunction_event_report.short_id }}/alert">Monitor Space Hazards</a> to view analysis and additional information.
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}
