{# Subject - TBD

WARNING: ensure fragmentation_event_report in test_json_data.json has been updated in line
with most recent version of fragmentation.json before relying on it for testing as it was based on
an early version of the JSON which is subject to change

Variables which need to be passed to this template

fragmentation_event_report 
  - risk_rating
view_all_assets: boolean, true if user has permissions to view all satellites (eg CAA), false if user is operator and can only view their assets
application_url: MSH base url
#}

{# will need to decide how risk is being determined #}
{% set risk = fragmentation_event_report.risk_rating %}
{% if risk == "Low" %}
  {% set risk_background_color = "#cce2d8" %}
  {% set risk_text_color = "#005930" %}
  {% set recommended_actions = "We would not normally expect stakeholders to take action on this report." %}
  
{% elif risk == "Medium" %}
  {% set risk_background_color = "#ffe0a3" %}
  {% set risk_text_color = "#594d00" %}
  {% set recommended_actions = "Stakeholders may wish to consider internal escalation." %}
{% else %}
  {% set risk_background_color = "#f4ccca" %}
  {% set risk_text_color = "#2a1a0e" %}
  {% set recommended_actions = "Stakeholders may wish to ensure response plans are in place." %} 
{% endif %}

{% extends "base.jinja" %}

{% block title %}
  Fragmentation alert
  {% if fragmentation_event_report.report_number > 1 %}
    - Updated
  {% endif %}
{% endblock %}

{% block subtitle %}
  {{ fragmentation_event_report.primary_object.common_name }}
{% endblock %}


{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <h1 style="font-size:16px;line-height:24px;margin:0px">Summary</h1>
            <hr height="1" style="height:1px;border:0 none;color:rgb(0,110,187);background-color:rgb(0,110,187);">
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:16px">
              <tbody>
                <tr>
                  <td>
                    <table
                      style="width:100%;text-align:left;font-size:14px;line-height:20px;border-collapse:collapse">
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Report Number</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.report_number }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Risk Assessment</th>
                        <td align="center"
                          style="width:66.666667%;padding:8px;background-color:{{ risk_background_color }};font-weight:700;color:{{ risk_text_color }}">{{ risk }}
                        </td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Fragmenting Object Name</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.primary_object.common_name }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Event Time (UTC)</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.event_epoch }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Known Fragments</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.known_frags }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Modeled Fragments</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.model_frags }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Fragmentation Type</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.frag_type }} DO WE HAVE THIS?</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Affected Regime</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.affected_regime }}</td>
                      </tr>
                      <tr style="width:100%">
                        <th style="width:33.333333%;padding:8px">Inclination</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.primary_object.inclination }}</td>
                      </tr>
                      <tr style="width:100%;background-color:rgb(240,240,240)">
                        <th style="width:33.333333%;padding:8px">Liability</th>
                        <td style="width:66.666667%;padding:8px">{{ fragmentation_event_report.primary_object.licensing_country }}</td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
      style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <h1 style="font-size:16px;line-height:24px;margin:0px">Additional Information</h1>
            <hr height="1" style="height:1px;border:0 none;color:rgb(0,110,187);background-color:rgb(0,110,187);">
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:16px">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px"><b>Event Details:</b><br />
                      {% if fragmentation_event_report.report_number > 1 %}
                          We have identified an update to the <a href="">fragmentation event involving {{ fragmentation_event_report.primary_object.common_name }}</a>. 
                          Initial analysis  shows the most likely time of event – {{ fragmentation_event_report.event_epoch }}
                      {% else %}
                          The UKSA and NSpOC are actively monitoring a <a href="">fragmentation event involving {{ fragmentation_event_report.primary_object.common_name }}</a>. 
                          Initial analysis  shows the most likely time of event – {{ fragmentation_event_report.event_epoch }}
                      {% endif %}
                    </p>
                  <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px">
                    <b>Press and Public Lines</b>
                    {% if fragmentation_event_report.press_attention %}
                      <br>{{ fragmentation_event_report.press_attention }}
                    {% else %}
                      <br />Sign in to <a href="{{ application_url }}/fragmentation">Monitor Space Hazards</a> for press and public lines (opens Monitor Space Hazards)
                    {% endif %}
                  </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
      style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <h1 style="font-size:16px;line-height:24px;margin:0px">Risk to your assets</h1>
            <hr height="1" style="height:1px;border:0 none;color:rgb(0,110,187);background-color:rgb(0,110,187);">
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:1rem">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;margin-bottom:1rem">
                      Due to the high mass and energy of this event, a substantial number of fragments have been generated. Work is ongoing to assess the risk to UK licensed satellites however it's likely that those at lower altitudes such as newly launched OneWeb satellites, Davinci and the Diamond series of CubeSats will have a significant increase in the number of potential collisions due to tracked and untracked debris. 
                    </p>
                    <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;margin-bottom:1rem">
                      Each of your satellites was screened against the current population of objects as well as the fragments generated by the breakup model.
                    </p>
                    <table
                      style="width:100%;text-align:left;font-size:0.875rem;line-height:1.25rem;border-collapse:collapse">
                      <tr style="width:100%">
                        <th style="width:50%;padding:0.5rem;background-color:rgb(240,240,240)">Object</th>
                        <th style="width:50%;padding:0.5rem">Norad ID</th>
                        <th style="width:50%;padding:0.5rem;background-color:rgb(240,240,240)">Current tally</th>
                        <th style="width:50%;padding:0.5rem">Fragments tally</th>
                      </tr>
                      {% for object in fragmentation_event_report.screening_results %}
                        <tr>
                          <th scope="row" style="width:50%;padding:0.5rem;background-color:rgb(240,240,240)">
                            <a style="color:rgb(0,110,187)" href="" target="_blank">{{ object.object_name }}</a> 
                          </th>
                          <td style="width:50%;padding:0.5rem">{{ object.norad_id }}</td>
                          <td style="width:50%;padding:0.5rem;background-color:rgb(240,240,240)">{{ object.current_tally }}</td>
                          <td style="width:50%;padding:0.5rem">{{ object.frag_tally }}</td>
                        </tr>
                      {% endfor %}
                    </table>
                    <p style="font-size:0.875rem;line-height:1.25rem;margin:0px;margin-top:1rem">Sign in to <a style="color:rgb(0,110,187)" href="{{ application_url }}/fragmentation">Monitor Space Hazards</a> to view
                      analysis and additional information.</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  {% endblock %}