{# Subject - Re-entry close down: <object type> <object name>

Variables which need to be passed to this template

reentry_event_report

reentry_event
  reentry_event.damages_liability
  reentry_event.press_attention
  
application_url: MSH base url
reentry_event_map_url: link to the reentry map showing where object entered
reentry_date: the date the reentry took place
decay_time: the decay time (UTC)
uncertainty: uncertainty window of decay time (minutes)
UK_impacted: contains text describing impact on the UK if there was one. Should be an empty string if no impact
#}

{% extends "base.jinja" %}

{% block title %}

  <h1 style="font-size:16px;color:rgb(255,255,255);line-height:24px;margin-top:10px;font-family:Calibri, Arial, sans-serif">
    Re-entry close down <br>
    {% if reentry_event_report.object_type|lower != "unknown" %}
      {{ reentry_event_report.object_type }} 
    {% endif %}
    {{ reentry_event_report.object_name }}
  </h1>

{% endblock %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-collapse:collapse;padding-bottom:16px;max-width:37.5em">
      <tbody>
        <tr>
          <td>
            <p style="font-size:14px;line-height:24px;margin:0;font-family:Calibri, Arial, sans-serif">Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
              <!-- -->
              <b>full report, interactive mapping for this incident and the archive.</b>
            </p>
          </td>
        </tr>
      </tbody>
    </table>  

    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-collapse:collapse;margin-bottom: 16px;padding-bottom:16px;max-width:37.5em">
      <tbody>
        <tr>
          <td>
            <table style="width:100%;border-collapse:collapse">
              <tr style="width:100%">
                <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                  <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Time Frame</h4>
                </td>
                <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif"> We cannot confirm final re-entry time; however, the final US information for this event gives a decay time of {{decay_time.strftime('%d/%m/%Y %H:%M:%S')}} UTC with an uncertainty window of ± {{uncertainty}} minutes.</td>
              </tr>
              <tr style="width:100%">
                <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                  <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Object Type</h4>
                </td>
                <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ reentry_event_report.object_type }} (NORAD ID {{
                                        reentry_event_report.norad_id }} - {{ reentry_event_report.object_name }})
                          </td>
              </tr>
              <tr style="width:100%">
                <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                  <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Object Details</h4>
                </td>
                <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">
                    Estimated mass: {{ reentry_event_report.estimated_mass }} kg<br>
                    Height: {{reentry_event_report.object_height }} m<br>
                    Width: {{reentry_event_report.object_width }} m<br>

                </td>
              </tr>
              <tr style="width:100%">
                <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                  <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Impact</h4>
                </td>
                <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">                      
                  {% if UK_impacted == "" %}
                    We have received no reports to suggest the UK was impacted but will continue to monitor in case new information arises. 
                  {% else %}
                    {{ UK_impacted }}
                  {% endif %}
                </td>
              </tr>
              <tr style="width:100%">
                <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                  <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Liability</h4>
                </td>
                <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">
                {{ reentry_event_report.license_country|to_full_country_name if reentry_event_report.license_country|to_full_country_name else "Unknown" }}
                {% if reentry_event.damages_liability %}
                  <br>{{ reentry_event.damages_liability }}
                {% endif %}
                </td>
              </tr>
              <tr style="width:100%">
                <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                  <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Recommended Actions</h4>
                </td>
                <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">No further actions required</td>
              </tr>

            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="background-color:rgb(38,92,89);padding:8px;margin:0">
              <tbody>
                <tr>
                  <td>
                    <h1 style="margin:0;text-align:center;font-size:16px;color:rgb(255,255,255);font-family:Calibri, Arial, sans-serif">Summary</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0;border-width:1px;border-style:solid;border-color:rgb(38,92,89)">
              <tbody>
                <tr>
                  <td style="padding:8px;border-width:1px;border-style:solid;border-color:rgb(38,92,89)">
                    <p style="font-size:14px;line-height:24px;margin:0;font-family:Calibri, Arial, sans-serif">
                        The re-entry of object {{reentry_event_report.object_name}} has now passed. 
                    </p><p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">
                        We cannot confirm final re-entry time; however, the final US information for this event gives a decay time of {{decay_time.strftime('%d/%m/%Y %H:%M:%S')}} UTC with an uncertainty window of ± {{uncertainty}} minutes.
                    </p><p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">

                      {% if UK_impacted == "" %}
                        We have received no reports to suggest the UK was impacted but will continue to monitor in case new information arises. 
                      {% else %}
                        {{ UK_impacted }}
                      {% endif %}
                    </p>
                    <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
                      <!-- -->
                      <b>full report, interactive mapping for this incident and the archive.</b>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
        <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="background-color:rgb(38,92,89);padding:8px;margin:0">
              <tbody>
                <tr>
                  <td>
                    <h1 style="margin:0;text-align:center;font-size:16px;color:rgb(255,255,255);font-family:Calibri, Arial, sans-serif">Impact Location(s)</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0;border-width:1px;border-style:solid;border-color:rgb(38,92,89)">
              <tbody>
                <tr>
                  <td style="padding:8px;border-width:1px;border-style:solid;border-color:rgb(38,92,89)">
                    <p style="font-size:14px;line-height:24px;margin:0 0 16px 0;font-family:Calibri, Arial, sans-serif">The ground trace of the object is shown in red on the map below.</p>
                    <img src="{{ reentry_event_map_url }}" style="width:100%;height:auto;margin-bottom:16px;display:block;outline:none;border:none;text-decoration:none;font-family:Calibri, Arial, sans-serif" width="580" />
                    <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
                      <!-- -->
                      <b>full report, interactive mapping for this incident and the archive.</b>
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

{% endblock %}

{% block additional_info %}

  <p style="margin:0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif">
    <b>Press and Public Lines</b>
    {% if reentry_event.press_attention %}
      <br>{{ reentry_event.press_attention }}
    {% else %}
      <br />Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for press and public lines (opens Monitor Space Hazards)
    {% endif %}
  </p>
  <br>

  {{ super() }}  {# this includes the rest of the default footer in base.jinja #}

{% endblock %}
