{# Subject - Low-risk re-entry alert: <object common name> (<MMM DD, YYYY>)

  Variables which need to be passed to this template
  
  reentry_event_report 
    reentry_event_report.damages_liability
    reentry_event_report.press_attention
    reentry_event_report.exec_summary
    reentry_event_report.immediate_response
  
  application_url: MSH base url
  reentry_event_map_url: link to the reentry map showing where object may enter
  #}
  
  {% extends "base.jinja" %}
  
  {% set risk = reentry_event_report.monte_carlo_probability|to_risk %}
  {% if risk == "Low" %}
    {% set risk_background_color = "#D4E7D0" %}
    {% set recommended_actions = "We would not normally expect stakeholders to take action on this report." %}
   
  {% elif risk == "Medium" %}
    {% set risk_background_color = "#FFF0C8" %}
    {% set recommended_actions = "Stakeholders may wish to consider internal escalation." %}
  {% else %}
    {% set risk_background_color = "#F1C6C6" %}
    {% set recommended_actions = "Stakeholders may wish to ensure response plans are in place." %} 
  {% endif %}
  
  {% block title %}
  
    <h1 style="font-size:16px;color:rgb(255,255,255);line-height:24px;margin-top:10px;font-family:Calibri, Arial, sans-serif;">Uncontrolled Re-Entry Early Warning
    {% if reentry_event.reentry_report_number > 1 %}
      - Updated
    {% endif %}
    <br/>
    {% if reentry_event_report.object_type|lower != "unknown" %}
      {{ reentry_event_report.object_type }} 
    {% endif %}
    {{ reentry_event_report.object_name }}</h1>
  
  {% endblock %}
  
  {% block content %}
      <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em">
        <tbody>
          <tr style="width:100%">
            <td>
              <p style="margin:0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif">Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
                <!-- -->
                <b>full report, interactive mapping for this incident and the archive.</b>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em">
        <tbody>
          <tr style="width:100%">
            <td>
              <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="margin:0;border-collapse:collapse">
                <tbody>
                  <tr>
                    <td>
                      <table style="width:100%;border-collapse:collapse">
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Risk Assessment</h4>
                          </td>
                          <td style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;background-color:{{ risk_background_color }}">
                            <h4 style="text-align:center;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">{{ risk }}</h4>
                          </td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Affected Territories</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ reentry_event_report.impact.by_nation|to_affected_territories or "No regions affected" }}</td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Impact Probability</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ '%0.3f' % (100*reentry_event_report.monte_carlo_probability)|float }}%</td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Time Frame</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ (reentry_event_report.time_window_start,
                                                  reentry_event_report.time_window_end)|to_time_frame }}</td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Object Type</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ reentry_event_report.object_type }} (NORAD ID {{
                                                  reentry_event_report.norad_id }} - {{ reentry_event_report.object_name }})
                                    </td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Estimated mass</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">
                              {{ reentry_event_report.estimated_mass }} kg
                          </td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Height</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">
                              {{reentry_event_report.object_height }} m
                          </td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Width</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">
                              {{reentry_event_report.object_width }} m
                          </td>
                        </tr>

                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Report Number</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ reentry_event.reentry_report_number }}</td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Liability</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ reentry_event_report.license_country|to_full_country_name if reentry_event_report.license_country|to_full_country_name  else "Unknown" }}
                          {% if reentry_event_report.damages_liability %}
                            <br>{{ reentry_event_report.damages_liability }}
                          {% endif %}
                          </td>
                        </tr>
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Recommended Actions</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ recommended_actions }}</td>
                        </tr>
                        {% if reentry_event_report.immediate_response %}
                        <tr style="width:100%">
                          <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                            <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Guidance on Response</h4>
                          </td>
                          <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{ reentry_event_report.immediate_response }}</td>
                        </tr>
                        {% endif %}
  
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em;">
        <tbody>
          <tr style="width:100%">
            <td>
              <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="background-color:rgb(38,92,89);padding:8px;margin:0">
                <tbody>
                  <tr>
                    <td>
                      <h1 style="margin:0;text-align:center;font-size:16px;color:rgb(255,255,255);font-family:Calibri, Arial, sans-serif">Summary</h1>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="border-width:1px;border-style:solid;border-color:rgb(38,92,89);border-spacing:0;border-collapse:collapse;">
                <tbody >
                  <tr>
                    <td style="border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px">
                    {% if reentry_event.reentry_report_number > 1 %}
                      <p style="margin:0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif">
                        We have identified an update to  <a
                            href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert"
                            target="_blank">the upcoming re-entry of {{ "a " + reentry_event_report.object_type|title if reentry_event_report.object_type and reentry_event_report.object_type|lower != "unknown" else "an unknown object type" }}, {{ reentry_event_report.object_name }}</a>, launched in {{ reentry_event_report.launching_year }}. {{ reentry_event_report.license_country|to_full_country_name if reentry_event_report.license_country|to_full_country_name else "It is unknown who" }} is liable for any damages and associated costs of the response and recovery efforts caused.
                      </p>
                    {% else %}
                      <p style="margin:0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif">
  
                        We are monitoring <a
                            href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert"
                            target="_blank">the upcoming re-entry of {{ "a " + reentry_event_report.object_type|title if reentry_event_report.object_type and reentry_event_report.object_type|lower != "unknown" else "an unknown object type" }}, {{ reentry_event_report.object_name }}, launched in {{ reentry_event_report.launching_year }}</a>. {{ reentry_event_report.license_country|to_full_country_name if reentry_event_report.license_country|to_full_country_name else "It is unknown who" }} is liable for any damages and associated costs of the response and recovery efforts caused.
                      </p>
                    {% endif %}
                      <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif"><b>Recommended actions</b><br>
                          {{ recommended_actions }}</p>
                      <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">
                          The {{ reentry_event_report.object_type|title if reentry_event_report.object_type and reentry_event_report.object_type|lower != "unknown" else "object" }} is expected to re-enter at <b>{{
                              (reentry_event_report.time_window_start,
                              reentry_event_report.time_window_end)|to_time_frame }}.</b> The UK mainland
                          is
                          expected to have
                          {{ reentry_event_report.overflight_time|length }} overflight(s) in the current
                          uncertainty window. The {{ reentry_event_report.object_type|title if reentry_event_report.object_type and reentry_event_report.object_type|lower != "unknown" else "object" }} has a <b>{{ '%0.3f' %
                              (100*reentry_event_report.monte_carlo_probability)|float }}% probability of UK re-entry.</b> This
                          meets the
                          {{ risk }}-risk escalation threshold. We cannot rule out that hazardous material
                          will
                          have contaminated the re-entering objects. Hydrazine is commonly used as
                          rocket-fuel.
                      </p>
                      {% if reentry_event_report.exec_summary %}
                      <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">{{ reentry_event_report.exec_summary }}</p>
                      {% endif %}
                      <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
                        <!-- -->
                        <b>full report, interactive mapping for this incident and the archive.</b>
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-bottom:16px;max-width:37.5em">
        <tbody>
          <tr style="width:100%">
            <td>
              <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="background-color:rgb(38,92,89);padding:8px;margin:0">
                <tbody>
                  <tr>
                    <td>
                      <h1 style="margin:0;text-align:center;font-size:16px;color:rgb(255,255,255);font-family:Calibri, Arial, sans-serif">Impact Risk Locations</h1>
                    </td>
                  </tr>
                </tbody>
              </table>
              <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
                <tbody>
                  <tr>
                    <td style="padding:8px;border-width:1px;border-style:solid;border-color:rgb(38,92,89)">
                      <img src="{{ reentry_event_map_url }}" style="width:100%;height:auto;margin-bottom:16px;display:block;outline:none;text-decoration:none;" width="580" />
                      <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="margin:0;border-collapse:collapse;border-spacing:0">
                        <tbody>
                          <tr>
                            <td>
                              <table style="width:100%;border-collapse:collapse;border-spacing:0">
                                <tr style="width:100%">
                                  <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                                    <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">England</h4>
                                  </td>
                                  <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{reentry_event_report.impact.england|to_affected_territories or "No regions affected"}}</td>
                                </tr>
                                <tr style="width:100%">
                                  <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                                    <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Scotland</h4>
                                  </td>
                                  <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{reentry_event_report.impact.scotland|to_affected_territories or "No regions affected"}}</td>
                                </tr>
                                <tr style="width:100%">
                                  <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                                    <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Wales</h4>
                                  </td>
                                  <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{reentry_event_report.impact.wales|to_affected_territories or "No regions affected"}}</td>
                                </tr>
                                <tr style="width:100%">
                                  <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                                    <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Northern Ireland</h4>
                                  </td>
                                  <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{reentry_event_report.impact.northern_ireland|to_affected_territories or "No regions affected"}}</td>
                                </tr>
                                <tr style="width:100%">
                                  <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px">
                                    <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">UK OSTs and CDs</h4>
                                  </td>
                                  <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{
                                          reentry_event_report.impact.overseas_territories_and_crown_dependencies|to_affected_territories or
                                          "No regions affected"}}</td>
                                </tr>
                                <tr style="width:100%">
                                  <td style="width:33.333333%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);background-color:rgb(245,248,248);padding:8px;font-family:Calibri, Arial, sans-serif">
                                    <h4 style="text-align:left;font-size:14px;margin:0;font-family:Calibri, Arial, sans-serif">Airspace and Maritime</h4>
                                  </td>
                                  <td align="center" style="width:66.666667%;border-width:1px;border-style:solid;border-color:rgb(38,92,89);font-size:14px;padding:8px;font-family:Calibri, Arial, sans-serif">{{
                                          reentry_event_report.impact.maritime_and_airspace|to_affected_territories or
                                          "No regions affected"}}</td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
                        <tbody>
                          <tr>
                            <td>
                              <p style="font-size:14px;line-height:24px;margin:16px 0;font-family:Calibri, Arial, sans-serif">Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for the
                                <!-- -->
                                <b>full report, interactive mapping for this incident and the archive.</b>
                              </p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
  
    {% endblock %}
  
  {% block additional_info %}
  
    <p style="margin:0;font-size:14px;line-height:24px;font-family:Calibri, Arial, sans-serif">
      <b>Press and Public Lines</b>
      {% if reentry_event_report.press_attention %}
        <br>{{ reentry_event_report.press_attention }}
      {% else %}
        <br />Sign in to <a href="{{ application_url }}/re-entries/{{ reentry_event_report.short_id }}/alert">Monitor Space Hazards</a> for press and public lines (opens Monitor Space Hazards)
      {% endif %}
  
    </p>
    <br>
    {{ super() }}  {# this includes the rest of the default footer in base.jinja #}
  
  {% endblock %} 