{# Subject - Scheduled outage of Monitor Space Hazards

Variables needed to be passed to this page
application_url - MSH URL
time - the time of outage
date - the date of the outage
#}

{% extends "base-notification.jinja" %}

{% block content %}
    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding-top:8px;padding-bottom:8px;max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:4px;padding-bottom:4px;border-color:rgb(0,110,187);border-style:solid;border-bottom-width:1px">
              <tbody>
                <tr>
                  <td>
                    <h1 style="font-size:16px;line-height:24px;margin:0px">Scheduled outage of Monitor Space Hazards {{date}}</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation"
              style="padding-top:16px">
              <tbody>
                <tr>
                  <td>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px">Please be aware that Monitor Space Hazards will be unavailable from {{time}} on {{date}} while we make essential upgrades and improvements to the database.</p>
                    <p style="font-size:14px;line-height:20px;margin:0px;margin-bottom:16px">In order to see upcoming conjunction events affecting your satellites, we recommend you sign in to <a style="color:rgb(0,110,187)" href="{{ application_url }}" target="_blank">Monitor Space Hazards</a> before this time. We expect this work to take several hours and the web portal and APIs will be unavailable during this period. We apologise for any inconvenience caused. </p>
                    <img src="{{ reentry_event_map.src }}" style="width:100%;height:auto;margin-bottom:16px;display:block;outline:none;text-decoration:none;" width="580" />
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock %}
