     <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="max-width:600px">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="background-color:rgb(38,92,89);padding:8px;margin:0">
              <tbody>
                <tr>
                  <td>
                    <h1 style="margin:0;text-align:center;font-size:16px;color:rgb(255,255,255);font-family:Calibri, Arial, sans-serif">Object details</h1>
                  </td>
                </tr>
              </tbody>
            </table>
            <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="padding:8px;border-width:1px;border-style:solid;border-color:rgb(38,92,89);border-spacing:0;border-collapse:collapse;">
              <tbody>
                <tr>
                  <td style="border-width:1px;border-style:solid;border-color:rgb(38,92,89);padding:8px">
    
                    <p style="font-size:14px;line-height:24px;margin:0;font-family:Calibri, Arial, sans-serif"><b>Object type: </b>
                      Rocket body (NORAD ID 56073 - CZ-2C R/B)<br>
                      <b>Object details: </b> Estimated mass: 4006 kg, height: 8 m, width: 3.4 m<br>
                      <b>Liability: </b> United States<br>
                      </p>
                    <p style="font-size:14px;line-height:24px;margin:24px 0px 8px 0px;font-family:Calibri, Arial, sans-serif">
                      <b>Example rocket body</b><br>
                    </p>
                    
                    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0" role="presentation">
                      <tbody>
                        <tr>
                          <td style="width:50%;border-width:0px;">
                            <img style="width:100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU8u8tpVE9yl1Jj0L81O7deRDfyW-yOXX-Kw&s" />
                          </td>
                          <td style="width:50%;border-width:0px;">
                            <img style="width:100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU8u8tpVE9yl1Jj0L81O7deRDfyW-yOXX-Kw&s" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                   
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
